<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="header::navbar" class="sticky-header" >  </div>
<br/>
<br/>
<!-- Contact information area end -->

<!-- Contact form area start -->
<section class="main-page-container">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="project-title-content">
                        <h3>REGISTER A NEW EMPLOYEE</h3>
                        <span><i class="fas fa-crosshairs"></i></span>
                        <!--                            <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

    <div class="contact-from-area">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
<!--                    <form action="#" th:action="@{/findCustomerForm}" method="post" th:object="${user}">-->
                        <div class="row">
                            <div class="col-md-12">

                                FIND CUSTOMER FOR MORE ACCOUNT DETAILS<br/>

                                <form action="#" th:action="@{/findUserByUserName}" method="post">
                                    <nobr>
                                        <input type="text" name="aUserName" id="aUserName"
                                               placeholder="Username" class="form-control" required>
<!--                                        <input type="text" name="userName" placeholder="Search" value=""/>-->
                                    </nobr>
                                    <br/>
                                    <button type="submit" class="btn-block btn contact-btn"
                                            id="message-btn">Search Customer
                                    </button>
                                </form>

                        </div>
<!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer::navbar">  </div>
</html>

