<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>
<section class="main-page-container">
    <!--Project title area start-->
    <!-- <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">ISSUE DETAILS
                        </h2>
                        <span>Fill up form to create a new <a href="#" th:href="@{/registerTask/{id}(id=${issue.id})}"> Task  </a>. <a href="#" th:href="@{/issues}"> See Issues  </a></span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--Project title area end-->
    <div class="container">
        <div class="radius-container">
            <div class="radius-container-title" th:style="${'background-color:' + session.runtimeSettings.themeColor2}">
                <h2>ISSUE DETAILS</h2>
                <a th:href="@{/registerTask/{id}(id=${issue.id})}">Create task <i class="fas fa-plus"></i></a>
                <a th:href="@{/issues}">See Issues <i class="far fa-arrow-alt-circle-right"></i></a>
            </div>
            <div class="branch-form-container">
                <form action="#" th:action="@{/registerIssueForm}" method="post" th:object="${issue}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="priority">Priority:</label>
                                <select class="form-control" id="priority" name="aPriority" th:field="*{priority}">
                                    <option th:each="aPriority : ${T(com.bitsvalley.micro.utils.PriorityStatus).values()}"
                                            th:value="${aPriority}" th:text="${aPriority}">
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" name="id" th:value="${issue.id}" th:field="*{id}"/>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" th:field="*{title}" name="title" id="title"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Issue Status:</label>

                                <select class="form-control" name="aStatus" th:field="*{ticketStatus}">
                                    <option th:each="aStatus : ${T(com.bitsvalley.micro.utils.TicketStatus).values()}"
                                            th:value="${aStatus}" th:text="${aStatus}">
                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="assignedTo">Assigned To:</label>
                                <select class="form-control" name="savingType" id="assignedTo"
                                        th:field="*{assignedTo}">
                                    <option value="">UNASSIGNED</option>
                                    <option th:each="employee: ${employees}"
                                            th:text="${employee.userName}"
                                            th:value="${employee.userName}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" name="comment" th:field="*{comment}" id="comment"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Save Issue</button>
                        </div>
                    </div>
                </form>
            </div>
            <h4 class="section-title" th:style="${'color:' + session.runtimeSettings.themeColor}">Tasks</h3>
            <div class="user-list">
                <table class="default-list">
                    <tr>
                        <th>Title</th>
                        <th>Comment</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th></th>
                    </tr>
                    <tr th:each="task : ${issue.taskList}">
                        <td th:text="${task.title}"></td>
                        <td th:text="${task.comment}"></td>
                        <td th:text="${task.ticketStatus}"></td>
                        <td th:text="${task.priority}"></td>
                        <td th:text="${task.assignedTo}"></td>
                        <td th:text="${task.createdBy}"></td>
                        <td th:text="${#dates.format(task.createdDate, 'dd-MMM-yyyy HH:mm')}"></td>
                        <td>
                            <a class="table-list-button-icon" href="#" th:href="@{/taskDetails/{id}(id=${task.id})}"><i class="fas fa-ellipsis-h"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</html>