<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>
<section class="main-page-container">
    <!--Project title area start-->
    <!-- <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">EXISTING LEDGER ACCOUNTS</h2>
                        <span>To Record Revenue and Expenses</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--Project title area end-->
    <div class="container">
        <div class="radius-container">
            <div class="radius-container-title" th:style="${'background-color:' + session.runtimeSettings.themeColor2}">
                <h2>EXISTING LEDGER ACCOUNTS</h2>
                <span>To Record Revenue and Expenses</span>
            </div>
            <div class="gl-account-container">
                <div class="gl-account-form"
                     th:if="${#authorization.expression('hasAnyAuthority(''ROLE_CREATE_GL_ACCOUNT'')')}">
                    <h2>CREATE LEDGER ACCOUNT</h2>
                    <span class="alert alert-info" th:if="${ledgerAccountInfo}" th:text="${ledgerAccountInfo}"/>
                    <form action="#" th:action="@{/saveLedgerAccountForm}" method="post" th:object="${ledgerAccount}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type:</label>
                                    <select class="form-control" name="Category" id="category" th:field="*{category}">
                                        <option value="1000 – 1999">CAPITAL ACCOUNTS (1000 – 1999)</option>
                                        <option value="2000 – 2999">FIXED ASSET ACCOUNTS (2000 – 2999)</option>
                                        <option value="3000 – 3999">CUSTOMER ACCOUNTS (3000 – 3999)</option>
                                        <option value="4000 – 4999">THIRD PARTY ACCOUNTS AND ACCRUALS(4000 – 4999)
                                        </option>
                                        <option value="5000 – 5999">TREASURY AND INTERBANK OPERATIONS (5000 – 5999)
                                        </option>
                                        <option value="6000 – 6999">EXPENSE ACCOUNTS (6000 – 6999)</option>
                                        <option value="7000 – 7999">REVENUE ACCOUNTS (7000 – 7999)</option>
                                        <option value="8000 – 8999">INTERMEDIATE MANAGEMENT ACCOUNTS (8000 – 8999)
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="name" th:field="*{name}" id="name"
                                           placeholder="e.g NFC BANK" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>COBAC Code:</label>
                                    <input type="text" name="displayName" th:field="*{displayName}" id="displayName"
                                           placeholder="COBAC Code" class="form-control" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Balaanz Code:</label>
                                    <input type="text" name="code" th:field="*{code}" id="code"
                                           placeholder="e.d 4004" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{status}" type="checkbox" id="active"
                                               name="status"
                                               th:value="*{status}"
                                               checked>
                                        <label class="form-check-label" for="active">Active</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{creditBalance}" type="checkbox"
                                               id="creditBalance"
                                               name="creditBalance" th:value="*{creditBalance}"
                                               checked>
                                        <label class="form-check-label" for="creditBalance">Credit Balance</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{cashAccountTransfer}"
                                               type="checkbox"
                                               id="cashAccountTransfer" name="cashAccountTransfer"
                                               th:value="*{cashAccountTransfer}"
                                               checked>
                                        <label class="form-check-label" for="cashAccountTransfer">Cash Account
                                            Transfers</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{interAccountTransfer}"
                                               type="checkbox"
                                               id="interAccountTransfer" name="interAccountTransfer"
                                               th:value="*{interAccountTransfer}"
                                               checked>
                                        <label class="form-check-label" for="interAccountTransfer">Inter Account
                                            Transfer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-orange"
                                        th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}"
                                        type="submit">CREATE LEDGER ACCOUNT
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <h4 class="section-title" th:style="${'color:' + session.runtimeSettings.themeColor}">Active List</h4>
                <div class="gl-account-list">
                    <table class="default-list" border="1">
                        <tr>
                            <th></th>
                            <th>COBAC Code<br/>Balaanz Code <br/> Update/Event</th>
                            <th>Category</th>
                            <th>Account Status</th>
                            <th>Credit Balance</th>
                            <th>Cash Account Transfer</th>
                            <th>Inter-account Transfer</th>
                            <th>Cash From - To</th>
                        </tr>

                        <tr th:each="aLedgerAccount, state : ${activeAccount}">
                            <td th:utext="${state.count}">count</td>

                            <td>

                                <span th:if="${#authorization.expression('hasAnyAuthority(''ROLE_UPDATE_GL_ACCOUNT_NAME'')')}">
                                    <a class="text-ellipsis" title=""
                                       th:href="@{/updateAccountLedger/{id}(id=${aLedgerAccount.id})}"
                                       th:text="${aLedgerAccount.code}"/>

                                    <br/>
                                    <br/>

                                    <font size="3" th:style="${'color:' + session.runtimeSettings?.themeColor}">
                                    <a class="text-ellipsis" title=""
                                       th:href="@{/updateAccountLedger/{id}(id=${aLedgerAccount.id})}"
                                       th:text="${aLedgerAccount.displayName}"/>
                                    </font>

                                </span>
                                <span th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_UPDATE_GL_ACCOUNT_NAME'')')}">
                                    <span class="text-ellipsis" th:text="${aLedgerAccount.code}"/>
                                </span>
                                <br/>
                                <span th:if="${#authorization.expression('hasAnyAuthority(''ROLE_UPDATE_GL_ACCOUNT_NAME'')')}">
                                    <form th:action="@{/updateLedgerAccountForm}" method="post">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" name="accountName"/>
                                            <input type="hidden" name="aLedgerAccountId"
                                                   th:value="${aLedgerAccount.id}"/>
                                            <div class="input-group-append">
                                                <button class="btn btn-orange"
                                                        th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}"
                                                        type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </span>
                                <br/>
                                <a th:href="@{/bulkLedgerAccount/{id}(id=${aLedgerAccount.id})}"> Create a Event</a>

                            </td>
                            <td th:text="${aLedgerAccount.category}"></td>
                            <td>
                                <span th:text="${aLedgerAccount.status}"></span>
                                <a class="table-list-icon"
                                   th:href="@{/editLedgerAccountStatus/{id}(id=${aLedgerAccount.id})}">
                                    <i class="fas fa-pencil-alt" style="font-size:6px"></i>
                                </a>
                            </td>
                            <td th:text="${aLedgerAccount.creditBalance}"></td>
                            <td th:text="${aLedgerAccount.cashAccountTransfer}"></td>
                            <td th:text="${aLedgerAccount.interAccountTransfer}"></td>
                            <td>
                                <span th:if="${aLedgerAccount.cashAccountTransfer == 'true'}">
                                    <a class="table-list-button-icon" href="#"
                                       th:href="@{/cashToLedgerAccount/{id}(id=${aLedgerAccount.id})}">
                                        Cash_GL
                                    </a><br/>
                                </span>
                                <span th:if="${#authorization.expression('hasAnyAuthority(''ROLE_GL_ACCOUNT_EXPENSE_ENTRY'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_GL_ACCOUNT_REVENUE_ENTRY'')')}">
                                    <span th:if="${aLedgerAccount.interAccountTransfer == 'true'}">
                                        <a class="table-list-button-icon" href="#"
                                           th:href="@{/addGeneralLedgerEntry/{id}(id=${aLedgerAccount.id})}">
                                            GL_GL
                                        </a><br/>
                                    </span>
                                </span>
                                <span th:if="${aLedgerAccount.cashAccountTransfer == 'true'}"><br/>
                                    <a class="table-list-button-icon" href="#"
                                       th:href="@{/cashFromLedgerAccount/{id}(id=${aLedgerAccount.id})}">
                                        GL_Cash
                                    </a><br/>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

                <br/>

                <h4 class="section-title" th:style="${'color:' + session.runtimeSettings.themeColor}">Inactive List</h4>
                <div class="gl-account-list">
                    <table class="default-list">
                        <tr>
                            <th>Update</th>
                            <th>COBAC Code<br/>Balaanz Code</th>
                            <th>Category</th>
                            <th>Account Status</th>
                            <th>Credit Balance</th>
                            <th>Cash Account Transfer</th>
                            <th>Inter-account Transfer</th>
                            <th>Cash From - To</th>
                        </tr>
                        <tr th:each="aLedgerAccount : ${ledgerAccountList}">
                            <td class="col-field">
                                <span th:if="${#authorization.expression('hasAnyAuthority(''ROLE_UPDATE_GL_ACCOUNT_NAME'')')}">

                                    <form th:action="@{/updateLedgerAccountForm}" method="post">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" name="accountName"/>
                                            <input type="hidden" name="aLedgerAccountId"
                                                   th:value="${aLedgerAccount.id}"/>
                                            <div class="input-group-append">
                                                <button class="btn btn-orange"
                                                        th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}"
                                                        type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </span>
                            </td>
                            <td>
                                <!--                            <span th:text="${aLedgerAccount.name}"/><br/>-->
                                <span th:text="${aLedgerAccount.displayName}"/>
                                <br/>
                                <span th:if="${#authorization.expression('hasAnyAuthority(''ROLE_UPDATE_GL_ACCOUNT_NAME'')')}">
                                    <a class="text-ellipsis" title=""
                                       th:href="@{/updateAccountLedger/{id}(id=${aLedgerAccount.id})}"
                                       th:text="${aLedgerAccount.code}"></a>
                                </span>
                                <span th:unless="${#authorization.expression('hasAnyAuthority(''ROLE_UPDATE_GL_ACCOUNT_NAME'')')}">
                                    <span class="text-ellipsis" th:text="${aLedgerAccount.code}"/>
                                </span>
                                <br/>
                                <a th:href="@{/deleteGL/{id}(id=${aLedgerAccount.id})}"> Delete GL</a>
                            </td>
                            <td th:text="${aLedgerAccount.category}"></td>
                            <td>
                                <span th:text="${aLedgerAccount.status}"></span>
                                <a class="table-list-icon"
                                   th:href="@{/editLedgerAccountStatus/{id}(id=${aLedgerAccount.id})}">
                                    <i class="fas fa-pencil-alt" style="font-size:6px"></i>
                                </a>
                            </td>
                            <td th:text="${aLedgerAccount.creditBalance}"></td>
                            <td th:text="${aLedgerAccount.cashAccountTransfer}"></td>
                            <td th:text="${aLedgerAccount.interAccountTransfer}"></td>
                            <td>
                                <span th:if="${aLedgerAccount.cashAccountTransfer == 'true'}">
                                    <a class="table-list-button-icon" href="#"
                                       th:href="@{/cashToLedgerAccount/{id}(id=${aLedgerAccount.id})}">
                                         Cash to GL
                                    </a><br/>
                                </span>
                                <span th:if="${#authorization.expression('hasAnyAuthority(''ROLE_GL_ACCOUNT_EXPENSE_ENTRY'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_GL_ACCOUNT_REVENUE_ENTRY'')')}">
                                    <span th:if="${aLedgerAccount.interAccountTransfer == 'true'}">
                                        <a class="table-list-button-icon" href="#"
                                           th:href="@{/addGeneralLedgerEntry/{id}(id=${aLedgerAccount.id})}">
                                            GL_GL
                                        </a><br/>
                                    </span>
                                </span>
                                <span th:if="${aLedgerAccount.cashAccountTransfer == 'true'}">
                                   <br/>
                                    <a class="table-list-button-icon" href="#"
                                       th:href="@{/cashFromLedgerAccount/{id}(id=${aLedgerAccount.id})}">
                                        GL_Cash
                                    </a><br/>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer::navbar"></div>
</html>