<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="header::navbar" class="sticky-header"></div>
<div th:insert="summary::navbar"></div>

<div class="page-container">
    <div class="container">
        <form class="form-bootstrap" action="#" th:action="@{/registerLoanAccountForm}" method="post" th:object="${loanAccount}">
            <div class="form-sections">
                <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">CREATE A <span th:text="${session.runtimeSettings.loanAccount}"/></h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="productCode">Account Type:</label>

                            <select class="form-control" name="productCode" id="productCode" th:field="*{productCode}">
                                <option th:each="accountType: ${accountTypes}"
                                        th:text="${accountType.displayName}"
                                        th:value="${accountType.number}">
                                </option>
<!--                                <option value="41">SHORT TERM LOAN - 41</option>-->
<!--                                <option value="42">CONSUMPTION LOAN - 42</option>-->
<!--                                <option value="43">AGRICULTURE LOAN - 43</option>-->
<!--                                <option value="44">BUSINESS INVESTMENT LOAN - 44</option>-->
<!--                                <option value="45">SCHOOL FEES LOAN - 45</option>-->
<!--                                <option value="46">REAL ESTATE LOAN - 46</option>-->
<!--                                <option value="47">OVERDRAFT LOAN - 47</option>-->
<!--                                <option value="48">NJANGI FINANCING - 48</option>-->
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="loanAmount">Loan Amount:</label>
                            <input id="loanAmount" class="form-control" type="number" th:field="*{loanAmount}" max="9000000"
                                           maxlength="10"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aUserRole">Interest Rate:</label>
                            <input id="aUserRole" class="form-control" type="text" th:field="*{interestRate}" max="100"
                                             maxlength="5"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="userName">Term of Loan:</label>
                            <input id="userName" class="form-control" type="number" th:field="*{termOfLoan}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aUserRole">VAT Percent:</label>
                            <input type="text" class="form-control" name="vatRate" readonly
                                   th:value="${session.runtimeSettings.vatPercent}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Notes:</label>
                        <textarea id="notes" class="form-control" rows="3" th:field="*{notes}">
                        </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-container-section">
                            <div class="form-container-section-row">
                                <h4>Enter Guarantor Saving Account Numbers:</h4>
                                <div class="row row-space-10">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="userName">Guarantor 1:</label>
                                            <input class="form-control" type="text"
                             th:field="*{guarantorAccountNumber1}"
                             maxlength="24"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="userName">Guarantor 2:</label>
                                            <input class="form-control" type="text"
                             th:field="*{guarantorAccountNumber2}"
                             maxlength="24"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="userName">Guarantor 3:</label>
                                            <input class="form-control" type="text"
                             th:field="*{guarantorAccountNumber3}"
                             maxlength="24"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 20px;">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="block_amount"
                                                  th:field="*{blockBalanceQuarantor}"/>
                                <label class="form-check-label" for="block_amount">Block Amount Guarantor</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="apply_vat"
                                     th:field="*{vatOption}"/>
                                <label class="form-check-label" for="apply_vat">Apply VAT</label>
                            </div>
                        </div>
                        <select hidden name="intervalOfLoanPayment" th:field="*{intervalOfLoanPayment}"
                            id="intervalOfLoanPayment">
                            <option value="01 DAY">01 DAY</option>
                            <option value="15 DAY">15 DAY</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Next - Show Loan Guarantor Details</button>
                    </div>
                </div>
            </div>
        </form>
        <form class="form-bootstrap" action="#" th:action="@{/generatePaymentSchedule}" method="post" th:object="${loanAccount}">
            <div class="form-sections">
                <h3 th:style="${'color:' + session.runtimeSettings.themeColor}">LOAN AMORTIZATION SCHEDULE</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aUserRole">Account Type:</label>
                            <select class="form-control" name="productCode" th:field="*{productCode}">
                                <option value="41">SHORT TERM LOAN - 41</option>
                                <option value="42">CONSUMPTION LOAN - 42</option>
                                <option value="43">AGRICULTURE LOAN - 43</option>
                                <option value="44">BUSINESS INVESTMENT LOAN - 44</option>
                                <option value="45">SCHOOL FEES LOAN - 45</option>
                                <option value="46">REAL ESTATE LOAN - 46</option>
                                <option value="47">OVERDRAFT LOAN - 47</option>
                                <option value="48">NJANGI FINANCING - 48</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="userName">Loan Amount:</label>
                            <input class="form-control" type="number" th:field="*{loanAmount}" max="9000000"
                                           maxlength="10"/>
                            <select hidden name="intervalOfLoanPayment" th:field="*{intervalOfLoanPayment}">
                                <option value="01 DAY">01 DAY</option>
                                <option value="15 DAY">15 DAY</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aUserRole">Interest Rate:</label>
                            <input class="form-control" type="text" th:field="*{interestRate}" max="100" maxlength="5"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="userName">Term of Loan:</label>
                            <input class="form-control" type="number" th:field="*{termOfLoan}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>VAT Percent:</label>
                            <input type="text" class="form-control" name="vatRate" readonly
                                   th:value="${session.runtimeSettings.vatPercent}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label></label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="apply_vat2"
                                         th:field="*{vatOption}"/>
                                    <label class="form-check-label" for="apply_vat2">Apply VAT</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">See Payment Schedule</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 
<div class="container">
        <form action="#" th:action="@{/registerLoanAccountForm}" method="post" th:object="${loanAccount}">
            <table class="center" width="100%" border="0">
                <tr>
                    <td align="center">
                        <div class="error" th:text="${error}"/>
                        <font color="green" size="6"><b>CREATE A <span th:text="${session.runtimeSettings.loanAccount}"/></b></font>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <br/>
                        <label> Loan Type:</label>
                        <select class="selectNormal" name="productCode" id="productCode" th:field="*{productCode}">
                            <option value="41">SHORT TERM LOAN - 41</option>
                            <option value="42">CONSUMPTION LOAN - 42</option>
                            <option value="43">AGRICULTURE LOAN - 43</option>
                            <option value="44">BUSINESS INVESTMENT LOAN - 44</option>
                            <option value="45">SCHOOL FEES LOAN - 45</option>
                            <option value="46">REAL ESTATE LOAN - 46</option>
                            <option value="47">OVERDRAFT LOAN - 47</option>
                            <option value="48">NJANGI FINANCING - 48</option>
                        </select>
                        Loan Amount:<input class="selectAmount" type="number" th:field="*{loanAmount}" max="9000000"
                                           maxlength="10"/>

                        <br/>
                        <br/>

                        Interest Rate:<input class="selectSmall" type="text" th:field="*{interestRate}" max="100"
                                             maxlength="5"/>

                        Term of Loan:<input class="selectSmall" type="number" th:field="*{termOfLoan}"/>


                        VAT:<input type="text" class="selectNormal" name="vatRate" readonly
                                   th:value="${session.runtimeSettings.vatPercent}"/>

                        <br/>
                        <br/>

                        <b>Enter Guarantor Saving Account Numbers:</b>
                        <br/>
                        1:<input class="selectNormal" type="text"
                                 th:field="*{guarantorAccountNumber1}"
                                 maxlength="24"/>

                        2:<input class="selectNormal" type="text"
                                 th:field="*{guarantorAccountNumber2}"
                                 maxlength="24"/>

                        3:<input class="selectNormal" type="text"
                                 th:field="*{guarantorAccountNumber3}"
                                 maxlength="24"/>
                        <br/>
                        <br/>

                        Notes:
                        <textarea id="notes" class="selectNormal" rows="3" cols="70" th:field="*{notes}">
                        </textarea>

                        <select hidden name="intervalOfLoanPayment" th:field="*{intervalOfLoanPayment}"
                                id="intervalOfLoanPayment">
                            <option value="01 DAY">01 DAY</option>
                            <option value="15 DAY">15 DAY</option>
                            <option value="OTHER">OTHER</option>
                        </select>


                        <br/>
                        <br/>

                        Block Amount Guarantor:<input class="selectSmall" type="checkbox"
                                                      th:field="*{blockBalanceQuarantor}"/>

                        Apply VAT:<input class="selectSmall" type="checkbox"
                                         th:field="*{vatOption}"/>

                        <button type="submit" class="btn btn-success">
                            <br/>
                            Next - Show Loan Guarantor Details
                        </button>
                        <br/>
                        <br/>
                    </td>
                </tr>
            </table>
        </form>
        <br/><br/>

        <form action="#" th:action="@{/generatePaymentSchedule}" method="post" th:object="${loanAccount}">
            <table class="center" width="100%" border="0">
                <tr>
                    <td align="center">
                        <font color="green"><b><h3> LOAN AMORTIZATION SCHEDULE </h3></b></font>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <br/>
                        <br/>
                        Loan Type:<select name="productCode" th:field="*{productCode}">
                        <option value="41">SHORT TERM LOAN - 41</option>
                        <option value="42">CONSUMPTION LOAN - 42</option>
                        <option value="43">AGRICULTURE LOAN - 43</option>
                        <option value="44">BUSINESS INVESTMENT LOAN - 44</option>
                        <option value="45">SCHOOL FEES LOAN - 45</option>
                        <option value="46">REAL ESTATE LOAN - 46</option>
                        <option value="47">OVERDRAFT LOAN - 47</option>
                        <option value="48">NJANGI FINANCING - 48</option>
                    </select>
                        Loan Amount:<input class="selectAmount" type="number" th:field="*{loanAmount}" max="9000000"
                                           maxlength="10"/>

                        <select hidden name="intervalOfLoanPayment" th:field="*{intervalOfLoanPayment}">
                            <option value="01 DAY">01 DAY</option>
                            <option value="15 DAY">15 DAY</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                        <br/>
                        <br/>
                        Interest Rate:<input type="text" th:field="*{interestRate}" max="100" maxlength="5"/>
                        Term of Loan:<input type="number" th:field="*{termOfLoan}"/>

                        Apply VAT:<input class="selectSmall" type="checkbox"
                                         th:field="*{vatOption}"/><span th:text="${session.runtimeSettings.vatPercent}"/>
                        <br/>
                        <br/>
                        <button type="submit" class="btn btn-success">
                            See Payment Schedule
                        </button>
                        <br/>
                        <br/>
                    </td>
                </tr>
            </table>
        </form>
</div> -->
<div th:insert="footer::navbar"></div>
</html>
