<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header"></div>


<div th:insert="blog::navbar"></div>
<!--<form th:action="@{/import}" method="post" enctype="multipart/form-data">-->
<!--    <input type="file" th:name="file" />-->
<!--    <input th:type="submit" value="Import" />-->
<!--</form>-->
<section class="contact-form-area-start space-40 df-bg">
<div class="contact-from-area">
  <span class="alert alert-danger" th:if="${error}" th:text="${error}" />
  <span class="alert alert-success" th:if="${success}" th:text="${success}" />
  <form class="form-bootstrap" action="#" th:action="@{/passwordReset}" method="post" >
    <div class="form-sections">
      <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">Password Reset Cycle</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group align-content-center">
            <label class="form-check-label">Enter key provided by admin</label>
            <input type="text" name="privateKey" id="privateKey" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
</section>


<div th:insert="footer::navbar"></div>
</html>