<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bitsvalley - bala@nz</title>
        <!-- Favicon  -->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/images/favicon/faviconn.ico}">
        <!--Bootstrap-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
        <!--Fontawesome-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/all.min.css}">
        <!--Owl-carousel-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
        <!--Owl Carousel theme-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/owl.theme.default.min.css}">
        <!--Animate-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
        <!-- magnific CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
        <!-- Mmenu CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slicknav.min.css}">
        <!--Style-->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}">
        <!-- Responsive -->
        <link type="text/css" rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    </head>
    <header class="app-header">
        <div class="container">
            <div class="inner-header">

            </div>
        </div>
    </header>
</div>
<section class="main-page-container">
  <div class="container">
    <div class="row row-space-14">
      <div class="col-md-8">
        <div class="product-checkout-container">
          <div class="product-checkout-title">
            <h2>Address</h2> 
            <span>Enter your Delivery Address Details</span>
          </div>
          <div class="product-checkout-address">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" placeholder="Flat Number" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" placeholder="Society Name" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" placeholder="Steet" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" placeholder="Area" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" placeholder="City" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" placeholder="Pincode" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">SAVE ADDRESS</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-checkout-container">
          <div class="product-checkout-title">
            <h2>Payment</h2> 
            <span>Choose Payment Method</span>
          </div>
          <div class="product-checkout-payment">
            <div class="payment-method-list">
              <div class="payment-method">
                <h4>Credit/Debit Card</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input class="form-control" placeholder="Card Number" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" placeholder="Expiry Date" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" placeholder="CVV" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input class="form-control" placeholder="Name on Card" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}">PROCESS PAYMENT</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-checkout-container">
          <div class="product-checkout-title">
            <h2>Total</h2>  
          </div>
          <div class="product-total-summary">
            <div class="product-summary-row">
              <label>Sub-total:</label>
              <span>78.00 FRS</span>
            </div>
            <div class="product-summary-row">
              <label>Delivery:</label>
              <span>22.00 FRS</span>
            </div>
            <div class="product-summary-row">
              <label>Tax:</label>
              <span>8.00 FRS</span>
            </div>
            <div class="product-summary-total">
              <label>Gross Total:</label>
              <span>110 FRS</span>
            </div>
          </div>
        </div>
        <div class="product-checkout-container">
          <div class="product-checkout-title">
            <h2>We Accept</h2>  
          </div>
          <div class="payment-image">
            <img src="https://www.tiqypro.com/Content/Custom/images/Payments/payments-integrations-booking-system.png" />
            <p>Get a discount code. Add it in the next step.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>
