<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org">
<div th:insert="header::navbar" class="sticky-header" >  </div>
<br/>
<br/>

<div class="panel-heading">Saving Accounts</div>
<!--<p Saving amount th:text="${savingAccount.amount}"> </p>-->
<div class="panel-body">
    <!--            <form action="#" th:action="@{/registerUserForm}" method="post" th:object="${savingAccount}" >-->
    <!--            </form>-->
    <a href="#" th:href="@{/registerSavingAccount}">Create Saving Account</a>
<!--    <a href="#" th:href="@{/registerCurrentAccount}">Create Current Account</a>-->
<!--    <a href="#" th:href="@{/registerRetirementAccount}">Create Retirement Saving Account</a>-->
</div>

<br/><br/><br/><br/>
<div th:insert="footer::navbar">  </div>
</html>