<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="header::navbar" class="sticky-header">  </div>
<!-- Contact form area start -->
<section class="contact-form-area-start space-40 df-bg">
    <!--Project title area start-->
    <div class="project-title-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2 th:style="${'color:' + session.runtimeSettings.themeColor2}">REGISTER A NEW Employee</h2>
                        <span>Fill the form below to create new Employee</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Project title area end-->

    <div class="contact-from-area">
        <div class="container">
            <form class="form-bootstrap" action="#" th:action="@{/registerUserForm}" method="post" th:object="${user}">
                <div class="form-sections">
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">Personal Information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="alert alert-danger" th:if="${updatedError}" th:text="${updatedError}"/><br/>
                                <label for="aUserRole">Role:<span style="color:red">*</span></label>
                                <select th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MANAGER'')')} OR ${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')}" class="form-control" name="aUserRole" id="aUserRole" multiple>
                                    <option value="ROLE_EMPLOYEE">EMPLOYEE</option>
                                    <option value="ROLE_MAIN_USERS">MAIN USERS</option>
                                    <option value="ROLE_MAIN_SEARCH_USERS">MAIN SEARCH USERS</option>
                                    <option value="ROLE_MAIN_TRANSFERS">MAIN TRANSFERS</option>
                                    <option value="ROLE_MAIN_LOANS">MAIN LOANS</option>
                                    <option value="ROLE_MAIN_SETTINGS">MAIN SETTINGS</option>
                                    <option value="ROLE_MAIN_BRANCHES">MAIN BRANCHES</option>
                                    <option value="ROLE_MAIN_GENERAL_LEDGER">MAIN GENERAL LEDGER</option>
                                    <option value="ROLE_MAIN_INVOICE">MAIN INVOICE</option>
                                    <option value="ROLE_MAIN_SHARES">MAIN SHARES</option>
                                    <option value="ROLE_MAIN_TRIAL_BALANCE">MAIN TRIAL BALANCE</option>
                                    <option value="ROLE_MAIN_GL_ACCOUNTS">MAIN_GL_ACCOUNTS</option>
                                    <option value="ROLE_MAIN_REPORTS">MAIN REPORTS</option>
                                    <option value="ROLE_MAIN_CALL_CENTER">MAIN DASHBOARD</option>
                                    <option value="ROLE_MAIN_USER_STATUS">MAIN USER MANAGEMENT</option>
                                    <option value="ROLE_ACCOUNT_CLERK">ACCOUNT CLERK</option>
                                    <option value="ROLE_MAIN_ISSUES">MAIN ISSUES</option>
                                    <option value="ROLE_AGENT">ROLE_AGENT</option>
                                    <option value="ROLE_FIELD_COLLECTOR">FIELD_COLLECTOR</option>
                                    <option value="ROLE_CASHIER">CASHIER</option>
                                    <option value="ROLE_LOAN_OFFICER">LOAN OFFICER</option>
                                    <option value="ROLE_CUSTOMER_SERVICE_OFFICER"><span th:text="${session.runtimeSettings.contextName}"/> SERVICE OFFICER</option>
                                    <option value="ROLE_WORKER">WORKER</option>
                                    <option value="ROLE_VIEW_ALL_ACCOUNTS">VIEW ALL ACCOUNTS</option>
                                    <option value="ROLE_CREATE_CUSTOMER_ACCOUNT">CREATE <span th:text="${session.runtimeSettings.contextName}"/> ACCOUNT</option>
                                    <option value="ROLE_CREATE_USER_ACCOUNT">CREATE USER ACCOUNT</option>
                                    <option value="ROLE_EDIT_CUSTOMER_ACCOUNT">EDIT <span th:text="${session.runtimeSettings.contextName}"/> ACCOUNT</option>
                                    <option value="ROLE_EDIT_USER_ACCOUNT">EDIT USER ACCOUNT </option>
                                    <option value="ROLE_ACCOUNT_BALANCES">ACCOUNT BALANCES</option>
                                    <option value="ROLE_PRINT_CUSTOMER_ACCOUNT_BALANCES">PRINT <span th:text="${session.runtimeSettings.contextName}"/> ACCOUNT BALANCES</option>
                                    <option value="ROLE_CUSTOMER_ACCOUNT_DEPOSIT_CASH"><span th:text="${session.runtimeSettings.contextName}"/> ACCOUNT DEPOSIT CASH</option>
                                    <option value="ROLE_CUSTOMER_ACCOUNT_PAYOUT_CASH"><span th:text="${session.runtimeSettings.contextName}"/> ACCOUNT PAYOUT CASH</option>
                                    <option value="ROLE_CUSTOMER_ACCOUNT_TYPE_TRANSFERS"><span th:text="${session.runtimeSettings.contextName}"/> ACCOUNT TYPE TRANSFERS</option>
                                    <option value="ROLE_CUSTOMER_TRANSACTIONS_VIEW"><span th:text="${session.runtimeSettings.contextName}"/> TRANSACTIONS VIEW</option>
                                    <option value="ROLE_CUSTOMER_TRANSACTIONS_PRINT"><span th:text="${session.runtimeSettings.contextName}"/> TRANSACTIONS PRINT</option>
                                    <option value="ROLE_LOAN_APPROVE">LOAN APPROVE</option>
                                    <option value="ROLE_LOAN_APPLY">LOAN APPLY</option>
                                    <option value="ROLE_LOAN_AMORTIZE">LOAN AMORTIZE</option>
                                    <option value="ROLE_LOAN_DELIQUENCY_RATE">LOAN DELIQUENCY RATE</option>
                                    <option value="ROLE_LOAN_GRANTED">LOAN GRANTED</option>
                                    <option value="ROLE_SHARE_APPLY">SHARE APPLY</option>
                                    <option value="ROLE_SHARE_APPROVE">SHARE APPROVE</option>
                                    <option value="ROLE_SHARE_CURRENT_ACCOUNT_PAYOUT">SHARE CURRENT ACCOUNT PAYOUT</option>
                                    <option value="ROLE_GENERAL_MANAGER">GENERAL MANAGER</option>
                                    <option value="ROLE_ALL_BRANCH_GL">ROLE_ALL_BRANCH_GL</option>
                                    <option value="ROLE_GL_VIEW">GENERAL LEDGER VIEW</option>
                                    <option value="ROLE_GL_PRINT">GENERAL LEDGER PRINT</option>
                                    <option value="ROLE_GL_1_1_TRANSFER">GL_ACCOUNT_1_1_TRANSFER</option>
                                    <option value="ROLE_GL_1_MANY_TRANSFER">GL_ACCOUNT_1_TO_MANY_TRANSFER</option>
                                    <option value="ROLE_GL_ACCOUNT_TRANSFER_TO_CUSTOMER_ACCOUNT">GL_ACCOUNT_TRANSFER_TO_<span th:text="${session.runtimeSettings.contextName}"/>_ACCOUNT</option>
                                    <option value="ROLE_GL_ACCOUNT_TRANSFER_FROM_CUSTOMER_ACCOUNT">GL_ACCOUNT_TRANSFER_FROM_<span th:text="${session.runtimeSettings.contextName}"/>_ACCOUNT</option>
                                    <option value="ROLE_PRINT_CASH_SELECTION_SITUATION">PRINT CASH SELECTION SITUATION</option>
                                    <option value="ROLE_GL_ACCOUNT_EXPENSE_ENTRY">GL_ACCOUNT_EXPENSE_ENTRY</option>
                                    <option value="ROLE_ACCOUNTANT">ACCOUNTANT</option>
                                    <option value="ROLE_CUSTOMER_ACCOUNT_RECEIVE_CASH"><span th:text="${session.runtimeSettings.contextName}"/> ACCOUNT RECEIVE CASH</option>
                                    <option value="ROLE_ACCOUNT_BALANCES">ACCOUNT BALANCES</option>
                                    <option value="ROLE_UPDATE_GL_ACCOUNT_NAME">ROLE_UPDATE_GL_ACCOUNT_NAME</option>
                                    <option value="ROLE_CREATE_GL_ACCOUNT">ROLE_CREATE_GL_ACCOUNT</option>
                                    <option value="ROLE_MAIN_ECOMMERCE">ROLE_MAIN_ECOMMERCE</option>
                                    <option value="ROLE_MAIN_POS">ROLE_MAIN_POS</option>
                                    <option value="ROLE_MANAGER">MANAGER</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="width: 100%;">Gender:<span style="color:red">*</span></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="mr"  value="Mr" th:field="*{gender}" name="gender" checked>
                                    <label class="form-check-label" for="mr">Mr</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="mrs" value="Mrs"
                                           th:field="*{gender}" name="gender">
                                    <label class="form-check-label" for="mrs">Mrs</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="miss" value="Miss"
                                           th:field="*{gender}" name="gender">
                                    <label class="form-check-label" for="miss">Miss</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="org" value=""
                                           th:field="*{gender}" name="gender">
                                    <label class="form-check-label" for="org">Organization</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userName">Username:<span style="color:red">*</span></label>
                                <input type="text" name="userName" th:field="*{userName}" id="userName"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName">Firstname:<span style="color:red">*</span></label>
                                <input type="text" name="firstName" th:field="*{firstName}" id="firstName"
                                       class="form-control" required>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Lastname:<span style="color:red">*</span></label>
                                <input type="text" name="lastName" th:field="*{lastName}" id="lastName"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">Date of Birth:<span style="color:red">*</span></label>
                                <input type="date" placeholder="Date Of Birth" name="dateOfBirth" th:field="*{dateOfBirth}" id="dateOfBirth"
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="profession">Profession:<span style="color:red">*</span></label>
                                <input type="text" name="profession" th:field="*{profession}" id="profession"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group password-field-container">
                                <label for="passwordInput">Password:<span style="color:red">*</span></label>
                                <input type="password" name="passwordInput" th:field="*{password}" id="passwordInput"
                                       class="form-control password-field" required>
                                <div class="password-field-status" id="password_field_1">
                                    <span class="password-status-bar"/>
                                    <span class="password-status-bar"/>
                                    <span class="password-status-bar"/>
                                    <span class="password-status-bar"/>
                                    <span class="password-status-bar"/>
                                </div>
                                <div class="password-field-rules">
                                    <ul>
                                        <li>Be between 8 to 20 characters long</li>
                                        <li>Contain at least one special character</li>
                                        <li>Contain at least one uppercase letter</li>
                                        <li>Contain at least one lowercase letter</li>
                                        <li>Contain at least one number</li>
                                        <li>White space is not allowed</li>
                                    </ul>
                                </div>
                                <!-- <span class="field-info">Password must contain 1 Special, 1 Uppercase, 1 Lowercase char.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="identityCardNumber">Identity Card Number:</label>
                                <input type="text" name="identityCardNumber" th:field="*{identityCardNumber}" id="identityCardNumber"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth">Identity Card Expiry Date:<span style="color:red">*</span></label>
                                <input type="date" name="identityCardExpiry" th:field="*{identityCardExpiry}" id="identityCardExpiry"
                                       class="form-control" required>
                            </div>
                        </div>

                    </div>
                </div>

<!--                <div class="row">-->
<!--                    -->
<!--                    <div class="col-md-6">-->
<!--                        <div class="form-group">-->
<!--                            <label for="identityCardNumber">Identity Card Number:</label>-->
<!--                            <input type="text" name="identityCardNumber" th:field="*{identityCardNumber}" id="identityCardNumber"-->
<!--                                   class="form-control" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


                <div class="form-sections">
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">Address Information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailInout">Email:<span style="color:red">*</span></label>
                                <input type="text" name="emailInput" th:field="*{email}" id="emailInout"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">Address:<span style="color:red">*</span></label>
                                <input type="text" name="address" th:field="*{address}" id="address"
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telephone1">Telephone 1:<span style="color:red">*</span></label>
                                <input type="number" name="telephone1" th:field="*{telephone1}" id="telephone1"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telephone2">Telephone 2:</label>
                                <input type="text" name="telephone2" th:field="*{telephone2}" id="telephone2"
                                       class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-sections">
                    <h3 th:style="${'color:' + session.runtimeSettings.themeColor2}">Active / Inactive Account</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="width: 100%;">Activate Internet online Banking for this account</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" th:field="*{accountLocked}" type="radio" id="false" name="accountLocked" value="false">
                                    <label class="form-check-label" for="false">True</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"  th:field="*{accountLocked}"  type="radio" id="true" name="accountLocked" value="true"
                                            checked>
                                    <label class="form-check-label" for="true">False</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-orange" th:style="${'background-color:' + session.runtimeSettings.themeColor + ';' + 'border-color:' + session.runtimeSettings.themeColor}" type="submit">CREATE Employee</button>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<!--Jquery-->
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<!--Custom Js-->
<script src="/assets/js/password.js"></script>
<div th:insert="footer::navbar">  </div>
</html>